alembic==1.14.0
blinker==1.9.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
cloup==3.0.5
Cython==3.0.11
decorator==4.4.2
dominate==2.9.1
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Bootstrap==3.3.7.1
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
glcontext==3.0.0
google-api-core==2.23.0
google-auth==2.36.0
google-cloud-texttospeech==2.21.1
googleapis-common-protos==1.66.0
grpcio==1.67.1
grpcio-status==1.67.1
gTTS==2.5.4
gunicorn==23.0.0
idna==3.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
isosurfaces==0.1.2
itsdangerous==2.2.0
Jinja2==3.1.4
Mako==1.3.6
manim==0.18.1
ManimPango==0.6.0
mapbox_earcut==1.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==2.4.6
moviepy==1.0.3
multipledispatch==1.0.0
networkx==3.4.2
numpy==1.26.4
packaging==24.2
pillow==11.0.0
proglog==0.1.10
proto-plus==1.25.0
protobuf==5.28.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.27.0
pydub==0.25.1
pygame==2.6.1
pyglet==2.0.18
Pygments==2.18.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyrr==0.10.3
python-dotenv==1.0.1
requests==2.32.3
rich==13.9.4
rsa==4.9
scipy==1.14.1
screeninfo==0.8.1
skia-pathops==0.8.0.post2
SQLAlchemy==2.0.36
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.0
typing_extensions==4.12.2
urllib3==2.2.3
visitor==0.1.3
watchdog==6.0.0
Werkzeug==3.1.3
WTForms==3.2.1
